---
import { RSSFeed } from "./solid/RSSFeed.tsx";
---

<section class="section" id="rss">
  <div class="section-title">News @ <b>znci</b></div>
  <div class="rss-feed">
    <RSSFeed client:only="solid-js" />
    <!-- <div class="card">
      <div class="card-title">
        <a href="${item.link}" class="rss-title" target="_blank">
          ${item.title}
          <span class="tag tag-blue">NEW</span>
        </a>
      </div>
      <div class="card-content">
        <div class="rss-description">
          ${item.description}
        </div>

        <div class="rss-date">
          <b>
            ${date.getDate()}
            ${
              date.toLocaleString("default", {
                month: "short",
              })
            }
            ${date.getFullYear()}
          </b>
          &bull;
          <b>${date.toLocaleTimeString()}</b>
        </div>

        <div class="card-splitter"></div>
        <div class="rss-author">
          <italic>author: <b>${item.author}</b></italic>
        </div>

        <div class="card-thumbnail">
          <img src="${item.enclosure.link}" loading="lazy" alt="thumbnail" />
        </div>
      </div>
    </div> -->
  </div>
</section>
